@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Raleway&display=swap');

/* 
        font-family: 'Oswald', sans-serif;
        font-family: 'Raleway', sans-serif;

        color values:
                #96746b
                #c7a17a
                #312a26
                #ffffff
                #f2f2f2
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
}
p{
    font-family: 'Raleway', sans-serif;
}
.wrapper{
    margin: auto;
    width: 100%;
}
/* header section 1 */

.nav{
    /* border: 4px solid red; */
    width: 85%;
    margin: 1em auto;
    overflow: auto;
}
.nav h1{
    /* border: 2px dashed green; */
    float: left;
}
.nav h1 a{
    color: #96746b;
    text-decoration: none;
    text-transform: uppercase;
}
.nav ul li a:hover{
    background-color: hsla(50, 33%, 25%, .30);
}
.nav ul{
    /* border: 2px dashed black; */
    float: right;
    margin-top: 1em;
}
.nav ul li{
    display: inline;
    margin-left: 1em;
}
.nav ul li a{
    display: inline-block;
    border-radius: 10%;
    padding: 10px;
    background-color: hsla(50, 33%, 25%, .20);
    color: #312a26;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

/* banner section 2 */
.banner{
    /* border: 4px solid red; */
    height: 670px;
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.banner-text{
    /* border: 2px dashed yellow; */
    position: absolute;
    left: 7.5%;
    top: 50%;
    transform: translate(0,-50%);
    /* left: 50%;
       transform: translate(50%,-50%)
    */
}
.banner-text h2{
    color: #c7a17a;
    text-transform: uppercase;
    font-size: 4em;
}
.banner-text h2 span{
    color: #96746b;
}
.banner-text p{
    color: #ffffff;
}
.banner-text a{
    background-color: #312a26;
    padding: 1em;
    display: inline-block;
    margin-top: 1em;
    color: #ffffff;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
}
.banner-text a:hover{
    opacity: 0.8;
}

/* ads-1 section 3 */
.ads{
    /* border: 4px solid red; */
    width: 85%;
    margin: 4em auto;
    overflow: auto;
}
.ads-items{
    /* border: 2px dashed green; */
    height: 350px;
    width: 49%;
    float: left;
    position: relative;
}
.ads-item1{
    background-image: url(../images/ads-img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-right: 2%;
}
.ads-item2{
    background-image: url(../images/ads-img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.ads-text{
    /* border: 2px dashed yellow; */
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0,-50%);
    width: 45%;
    
}
.ads-text h3{
    /* border: 1px solid blue; */
    color: #ffffff;
    text-transform: uppercase;
    font-size: 2em;
    text-shadow: 3px 3px 5px black;
    line-height: 1.2;
}
.ads-text a{
    /* border: 1px solid green; */
    display: inline-block;
    margin-top: 1em;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-shadow: 3px 3px 5px #312a26;
}
/*  Marchandise section 4  */
.merch{
    /* border: 4px solid red; */
    width: 85%;
    margin: 4em auto;
    overflow: auto;
}
.section-header{
    /* border: 2px dashed yellow; */
    text-align: center;
}
.section-header span{
    color: #c7a17a;
    font-style: italic;
    font-family:'Raleway', sans-serif;
}
.section-header h2{
    color: #312a26;
    text-transform: uppercase;
}
.section-header hr{
    height: 2px;
    width: 30%;
    background-color: #c7a17a;
    margin: auto;
}
.merch-gallery{
    /* border: 2px dashed blue; */
    overflow: auto;
    margin-top: 2em;
}
.merch-items{
    /* border: 2px solid black; */
    width: 24%;
    float: left;
    margin-right: 1.33%;
}
.merch-items:nth-child(4),.merch-items:nth-child(8){
    margin-right: 0;
}
.merch-items:nth-child(5),.merch-items:nth-child(6),.merch-items:nth-child(7),.merch-items:nth-child(8){
    margin-top: 1.33%;
}
.merch-items img{
    width: 100%;
}
.merch-items h3{
    color: #312a26;
    text-transform: capitalize;
}

/* discount section 5 */
.discount{
    /* border: 4px solid red; */
    width: 85%;
    margin: 4em auto;
    height: 350px;
    background-image: url(../images/discount-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.discount-text{
    /* border: 2px dashed yellow; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.discount-text span{
    color: #ffffff;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    text-shadow: 3px 3px 5px #312a26;
}
.discount-text h2{
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px #312a26;
    font-size: 2em;
}
.discount-text a{
    background-color: rgba(255, 255, 255, .5);
    padding: 1em;
    color: #312a26;
    display: inline-block;
    margin-top: 1em;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.discount-text a:hover{
    background-color: rgba(255, 255, 255, .8);
}

/* ads-2 section 7 */
.ads-item3{
    background-image: url(../images/ads-img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-right: 2%;
    margin-bottom: 2%;
}
.ads-item4{
    background-image: url(../images/ads-img4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 2%;
}
.ads-item5{
    background-image: url(../images/ads-img5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-right: 2%;
}
.ads-item6{
    background-image: url(../images/ads-img6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* reservation form section 8 */

.reservation{
    /* border: 4px solid red; */
    width: 85%;
    margin: 4em auto;
}
form{
    /* border: 2px dashed blue; */
    margin-top: 2em;
    overflow: auto;
}
.form-group{
    /* border: 2px dashed green; */
    width: 49%;
    float: left;
    background-color: #f2f2f2;
    padding: 1em;
}
.form-group:nth-child(1){
    margin-right: 2%;
}
form label{
    /* border: 1px solid red; */
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;


}
form input,form select,form textarea{
    /* border: 1px dashed black; */
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
}
.form-group p{
    text-align: center;
    text-transform: capitalize;
    margin: 1em;
    font-weight: 700;
}
.form-group h3{
    text-align: center;
    text-transform: uppercase;
}
.form-group h3::after{
    content: "";
    display: block;
    /* border: 1px solid green; */
    height: 30px;
    width: 150px;
    margin: auto;
    background-image: url(../images/reservation-cards.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.res-time{
    text-align: center;
}
.res-time input,.res-agreement input{
    width: auto;
}
#submit{
    background-color: #c7a17a;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

/* footer 1 section 9 */
.footer{
    /* border: 4px solid red; */
    background-image: url(../images/footer-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2em 0;
}
.footer-content{
    /* border: 2px dashed yellow; */
    width: 85%;
    margin: auto;
    overflow: auto;
}
.footer-widgets{
    /* border: 2px dashed green; */
    width: 24%;
    float: left;
    margin-right: 1.33%;
}
.footer-widgets:nth-child(4){
    margin-right: 0;
}
.footer-widgets h3{
    color: #ffffff;
    text-transform: uppercase;
    margin: 1em;
    text-shadow: 3px 3px 5px #312a26;
}
.footer-widgets h4{
    color: #ffffff;
    text-transform: capitalize;
}
.footer-widgets p{
    color: #c7a17a;
    text-transform: capitalize;
}
.footer-widgets th,.footer-widgets td{
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
    text-shadow: 3px 3px 5px #312a26;
}
.footer-form input{
    width: auto;
}
#search-btn{
    background-color: #c7a17a;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

/* footer2 section 10 */

.footer-social{
    /* border: 4px solid red; */
    background-color: #19100f;
    overflow: auto;
    padding: .5em 0;

}
.social-widgets{
    /* border: 2px dashed yellow; */
    float: left;
    width: 33.33%;
    text-align: center;
    color: #ffffff;
}
.social-widgets img{
    width: 1.5em;
}
.social-widgets a{
    text-decoration: none;
}
.social-widgets h3{
    text-transform: uppercase;
}
.social-widgets p{
    text-transform: capitalize;
    padding: .3em 0;
}

.top{
    background-color: #ffffff;
    color: #312a26;
    padding: .5em;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    position: fixed;
    right: 30px;
    bottom: 40px;
}


@media(max-width: 670px){
    .nav{
        /* border: 2px solid red; */
        width: 95%;
    }

    .nav ul{
        /* border: 1px solid yellow; */
        display: flex;
        width: 100%;
        margin-top: .3em;
        justify-content: space-between;
    }
    .nav ul li{
        margin-left: 1px;
        font-size: 10px;
    }    
  

    .banner{
        /* border: 4px solid red; */
        height: 400px;
    }
    .banner-text{
        /* border: 2px dashed yellow; */
        width: 85%;
        margin: auto;
    }
    .banner-text h2{
        font-size: 3em;
        margin-bottom: .3em;
    }
    .banner-text a{
        padding: .5em;
    }
    
    /* merchandise */
    .merch-gallery{
        display: flex;
        flex-wrap: wrap;
    }

    /* ads */
    .ads{
        width: 85%;
        margin: 4em auto;
        overflow: auto;
        flex-direction: column;
    }
    .ads-items{
        height: 250px;
        width: 100%;
        margin-bottom: .5em;
    }
    .ads-text{
        font-size: small;   
    }

    /* form */
    form{
        /* border: 2px dashed blue; */
        flex-direction: column;
    }
    .form-group{
        /* border: 2px dashed green; */
        width: 100%;
        margin-bottom: 10px;
    }
    form label{
        font-size: small;
    }

    /* footer */
    .footer-content{
        width: 90%;
        flex-direction: column;
    }
    .footer-widgets{
        text-align: center;
        width: 100%;
        margin-bottom: .5em;
    }
    .footer-widgets h3{
        margin: .7em;
        font-size: medium;
    }
    .footer-widgets table{
        margin: auto;
    }
    .footer-widgets h4{
        font-size: small;
    }
    .footer-widgets p{
        font-size: smaller;
    }
    .footer-widgets th,.footer-widgets td{
        font-size: smaller;
    }
}

@media(max-width: 970px){
    .merch-gallery{
        display: flex;
        flex-wrap: wrap;
    }
    form label{
        font-size: small;
    }
    .footer-content{
        width: 90%;
    }
    .footer-widgets{
        text-align: center;
    }
    .footer-widgets h3{
        margin: .7em;
        font-size: medium;
    }
    .footer-widgets h4{
        font-size: small;
    }
    .footer-widgets p{
        font-size: smaller;
    }
    .footer-widgets th,.footer-widgets td{
        font-size: smaller;
    }
}    